
body {
  background-color: rgb(25,25,25);
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  line-height: 2em;
}

h1, h2, #description {
  text-align: center;

}

h1 {
  color: #fff;
  padding-top: 20px;
}

h2 {
  color: #e40084;
  text-transform: uppercase;
}

form {
  background-color: inherit;
  border-radius: 2px;
  max-width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 30px 10%;
  grid-column-gap: 25px;
  font-size: 16px;
}

form div {
  padding: 10px;
  background-color: rgb(34, 34, 34);
  border-radius: 5px;
}

form label, form p {
  margin-right: 50px;
}

input {
  display:inline-block;
  background-color: rgb(54, 54, 54);
  color: rgb(239, 239, 239);
  border: none;
  border-radius: 5px;
  max-width: 100%;
  padding:15px 10px;
  font-size: 16px;
}

#basic-info-section {
  align-self: start;
}

.basic-info {
  display: flex;
  flex-direction: column;
  max-width: 95%;
  min-width: 60%;
}

.feedback-fields input {
  max-width: 95%;
  min-width: 30%;
}

#recommendation-field {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#schedule-checkbox {
  display: flex;
  flex-direction: column;
}

#years-field, #feedback-field {
  padding-top: 10%;
}

.checkbox-container, .recommendation-container {
  padding: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
}


select {
  background: transparent;
  color: rgb(229, 229, 229);
  padding: 10px 8px 10px 10px;
  z-index: 2;
  appearance: none;
  font-size: 16px;
}

option {
  background-color: rgb(85, 85, 85);
  white-space: pre;
  min-height: 1.2em;
  padding: 0px 2px 1px;
}

/*
* Need to come back and revist checkbox styling
*/

input[type="checkbox"] {
  height: 25px;
  width: 25px;
  background-color: rgb(13, 15, 18);
}


#submit-button {
  background-color: #e40084;
  color: #fff;
  padding: 4px 16px;
  border-radius: 2px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  border: 0px;
  max-height: 50px;
  padding: 4px 16px;
}


/* Mid-size screen styles */
@media (max-width: 1000px) {
  form {
    margin: 30px 20px;
  }
}

 /* Smaller Mobile styles */

@media (max-width: 650px) {

  form {

    grid-template-columns: 100%;
  }

}
